<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="" (click)="onClick('all',-1)">Course Provider</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                        <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('all',-1)">All</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('all', 0)">Beginner
                                Level</a></li>
                        <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('all', 1)">Intermediate
                                Level</a></li>
                        <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('all', 2)">Expert
                                Level</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                HTML
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Html',-1)">All</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Html',0)">Beginner Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Html',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Html',2)">Expert
                                        Level</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                CSS
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('CSS',-1)">All</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('CSS',0)">Beginner Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('CSS',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('CSS',2)">Expert
                                        Level</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Javascript
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('JS',-1)">All</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('JS',0)">Beginner
                                        Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('JS',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('JS',2)">Expert
                                        Level</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Angular
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Angular',-1)">All</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Angular',0)">Beginner Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Angular',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Angular',2)">Expert Level</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                React
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('React',-1)">All</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('React',0)">Beginner Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('React',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('React',2)">Expert Level</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle-split" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Vue
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Vue',-1)">All</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Vue',0)">Beginner Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Vue',1)">Intermediate Level</a></li>
                                <li><a class="nav-link dropdown-item" [routerLink]="" (click)="onClick('Vue',2)">Expert Level</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>

    </div>
</nav>